@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
body {
  background-color: var(--body_bacground) !important;
  color: var(--body_color) !important;
}
footer {
  background-color: var(--footer-bg);
}
footer a {
  color: var(--body_color);
  text-decoration: none;
}
footer a:hover {
  color: var(--text-hover);
  transition: 0.5s;
}
img {
  opacity: var(--opacity-img);
}
main {
  overflow-x: hidden;
}
@media (max-width: 991px) {
  .footerImage {
    align-items: center;
  }
}
