.slick-slide {
  max-width: 228px;
  margin: 0 12px;
}
.box-slider h3 {
  color: black;
}

.slick-slide img {
  border-radius: 24px;
}
.slick-slide:hover img {
  filter: brightness(1.01);
  transition: 1s;
}
.box-slider {
  position: relative;
}
.box-slider h3 {
  position: absolute;
  top: 75%;
  left: 0;
  font: 18px Inter;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 10px;
  opacity: 0;
  transition: opacity 0.9s ease;
}
.box-slider:hover h3 {
  opacity: 1;
}
@media (max-width: 991px) {
  .slick-dots li button:before {
    content: "-";
  }
  .box-slider h3 {
    opacity: 1;
  }
}
